#header{
		font-weight:bold;
		text-decoration:underline;
		cursor:pointer;
		font-size:1.1em;}
#sub{display:none;}
.question {color:#6600CC;}
.errorText {
		color:#500000;
		display:none;}
.error {color:#780000;}
.errorDetail{font-weight:bold;}
