#faqs h6  { cursor:pointer;
				font-size:1.5em}
#faqs h5 {cursor:pointer;
				font-size:1.1em;
				color:blue;}	
#faqs b {}			
#faqs span { }
#faqs h6.active { color:#d74646; }
#faqs h5.active { color:#d74646; }
#faqs div { height:0; overflow:hidden; position:relative;}
#faqs div p { padding:0; margin-bottom:15px; }
